.border-dashed {
    --bs-border-style: dashed;
}

.timer {
    font-size: 70px;
    color: rgb(87, 92, 97);
}

.prepare {
    background-color: #bbbec0;
}

.work {
    background-color: #f5d313
}

.rest {
    background-color: #57c4cb
}

.cool-down {
    background-color: #1ca865
} 