body {
  height: 100vh;
  background-color: #e3e5e3;  
  box-sizing: border-box;
}

.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

.custom-card {
  margin: 0 3px 10px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3)
}

.footer,
.header {
  background-color: #e3e5e3;
}
