.form-control {
  border: none;
  text-align: center;
  font-size: 30px;
}

.form-control::placeholder {
  color: rgb(175, 173, 173);
}

.form-control.invalid {
  border: solid 1px red;
}

.feedback {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin: 5px auto;
}

.feedback.invalid {
  display: block;
}



.icon {
  margin-right: 8px;
  color: #1ca865;
}

