
.icon {
  margin-right: 8px;
  color: #1ca865
}

.form-control {
  border: none;
  text-align: center;
  font-size: 30px;
}

.form-control::placeholder {
  color:rgb(175, 173, 173)
}

.mb-3 {
  border: solid 1px rgb(189, 195, 201);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding-top:15px;
  box-shadow: 2px 2px 6px grey
}

form {
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container button
 {
font-size: 20px;
padding:12px
 }
