.form-control {
  border: none;
  text-align: center;
  font-size: 30px;
  outline: none;
  padding: 0;
  background-color: #e1faee;
}

.form-control-wrapper .form-control {
  display: inline-block;
  width: auto;
}

.form-control::placeholder {
  color: rgb(175, 173, 173);
}

.feedback {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin: 5px auto;
}

.icon {
  margin-right: 8px;
  color: #1ca865;
}

.invalid .form-control {
  border: solid 1px red;
  border-radius: 10px;
}

.invalid .feedback {
  display: block;
}

[data-tooltip] {
  position:relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -100%;
  right:0;
  /* opacity:0; */
  padding: 5px;
  transition: opacity 0.15s;
  background-color: lightgray;
  color:black;
  white-space: nowrap;
} 
