
.list-group {
  width: 100%;
  max-width: 450px;
  margin-inline: 1.5rem;
  text-align: center;
}

.list-group-item-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.list-group-item-check:checked + .list-group-item {
  color: #fff;
  background-color: #01ac5b;
  border-color: #01ac5b;
  /* background-color: var(--bs-primary);
  border-color: var(--bs-primary); */
}

.list-group-checkable .list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f7fafa;
}

.exercise-detail {
  background-color: #e5e8eb;
  padding: 5px 12px;
  border-radius: 10px;
}

.list-group-item-check:checked + .list-group-item .exercise-detail {
  color: #017c43;
}

.list-button-container {
  width: 100%;
  max-width: 450px;
  margin:0 auto;
}

@media only screen and (max-width: 576px) {
  .exercise-detail {
    padding: 3px 5px;
  }
}